{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <strong><h4 style="margin-top: 2%; color: white; display: inline">Products</h4>&nbsp;<h4 class="badge badge-pill badge-danger" style="color: white; display: inline;">{{products|length}}</h4></strong>
    <hr style="border: 0.5px solid white">  
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product" style="background-color: white;">
                <hr>
                <h6><strong>{{product.name}}</strong></h6>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a class="btn btn-outline-success" href="/product/{{product.id}}">View</a>
                <h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>

            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}